<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3" [ngStyle]="{'margin':'10px 0px 20px 0px'}">
          <h4 style="color: #343a40;
            line-height: 3rem;
            font-size: 1.2rem;
            letter-spacing: 0.5px;
            font-weight: 400;
            margin-bottom: 20px;
            border-bottom: 1px solid #343a40;
            display: block"><i class="ft-file-text"></i> Unit Master Level

            <div style="display: inline-block;float: right;">
            <a href="javascript:void(0)" class="btn btn-flat btn-primary" style="margin-top: 10px;" (click)="goBack()"><i class="ft-chevron-left"></i>
              Back</a>
            </div>
          </h4>
            <kendo-tabstrip [keepTabContent]="false">
              <kendo-tabstrip-tab [title]="'Unit Level 1'" [selected]="true" *ngIf="getStatusLevel(1)">
                <ng-template kendoTabContent *appTabstripLoad>
                  <app-um-level1
                  [parameterUrl]="parameter"
                  ></app-um-level1>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Unit Level 2'" *ngIf="getStatusLevel(2)">
                <ng-template kendoTabContent *appTabstripLoad>
                  <app-um-level2
                          [parameterUrl]="parameter"
                  ></app-um-level2>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Unit Level 3'" *ngIf="getStatusLevel(3)">
                <ng-template kendoTabContent *appTabstripLoad>
                  <app-um-level3
                          [parameterUrl]="parameter"
                  ></app-um-level3>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>
      </div>
    </div>
  </div>
</div>