.gradient-indigo-purple {
  background-image: linear-gradient(-135deg, #c850c0, #4158d0);
  background-repeat: repeat-x;
}
.btn-pink.btn-raised, .btn-pink.btn-fab {
  background-color: #f34a5e !important;
  color: #fff !important;
  border-color: #ff586b;
}