<kendo-grid
        [data]="view | async"
        [loading]="view['loading']"
        [pageSize]="state.take"
        [skip]="state.skip"
        [sort]="state.sort"
        [sortable]="true"
        [height]="630"
        [filter]="state.filter"
        [columnMenu]="{
        filter: true
        }"
        [pageable]="{
          buttonCount: 8,
          info: true,
          type: 'numeric',
          pageSizes: [5, 15, 25],
          previousNext: true
        }"
        (dataStateChange)="dataStateChange($event)"
        (edit)="editHandler($event)"
        (remove)="removeHandler($event)"
        (add)="addHandler($event)"
>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
    <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
  </ng-template>
  <kendo-grid-column field="kd_jabatan" title="ID Jabatan" width="130"></kendo-grid-column>
  <kendo-grid-column field="nama_jabatan" title="Nama Jabatan" width="200"></kendo-grid-column>
  <kendo-grid-column field="status" width="200" title="Status" [sortable]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{status(dataItem.status)?.text}}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoGridEditCommand [primary]="true" (click)="editHandler(dataItem)">Edit</button>
      <button kendoGridRemoveCommand>Delete</button>
    </ng-template>
  </kendo-grid-command-column>

  <kendo-grid-excel fileName="Data Jabatan.xlsx"></kendo-grid-excel>
<!--div style="text-align: "></div-->
</kendo-grid>
<app-edit-kendo-table [model]="editDataItem" [isNew]="isNew" [active]="active" (save)="saveHandler($event)" (cancel)="cancelHandler()"></app-edit-kendo-table>